@font-face {
  font-family: ADC;
  src: font-url('ADC-Semi-Bold') format('opentype');
}
@font-face {
  font-family: Centaur;
  src: font-url('CENTAUR') format('opentype');
}
@font-face {
  font-family: Elyaris;
  src: font-url('elyaris-vgbgb') format('opentype');
}

@font-face {
  font-family: ArialNarrow;
  src: font-url('Arial-Narrow') format('opentype');
}
@font-face {
  font-family: PiercingN30D;
  src: font-url('PiercingN30D') format('opentype');
}